@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@300;500;900&display=swap');
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
}

body {
    font-family: 'Roboto','Cormorant Garamond', serif, sans-serif;
    font-size: 1.2rem;
}
.color_acento {
    color: #ae00ff;
}
h1{font-size: 2.8em;}
h2{font-size: 2.2em;}
h3{font-size: 1.9em;
padding: 10px;
margin: 5px;}
p{font-size: .9em;}
ul{list-style: none;}
li{font-size: 1.2em;}
a{font-size: 1.15em;
text-align: center;
margin: auto;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1.8px solid #000005;
    box-shadow: 2px 2px 8px #000005;
    color: rgb(240, 240, 240);
    background-color: #ae00ff;
    text-shadow: 3px 3px 10px #000005;
    font-family: inherit;
}

button:hover{
    background-color: #40005e;
    padding: 12px 30px;
    transition: .3s;
}

#nav {
    background-color: rgb(240, 240, 240);
    height: 80px;
}

.nav_container{
    max-width: 1400px;
    margin: auto;
}

header .nav_logo {
    margin: 0;
    padding-right: 20px;
    font-weight: 900;
    color: #ae00ff;
    font-size: 2em;
    flex-basis: 100%;
}

.nav_container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;

}

.nav_label , .nav_input {
    display: none;
}

.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 1.4em;
    font-size: 1.3;
}
header nav:hover a{
    filter: blur(2px);
}
header .nav_menu a:hover{
    transform: translateY(-3px) scale(1.1);
    filter: none;
}

.nav_item {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: auto;
}
/* IDIOMASYA */
#idiomasya{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: rgb(240, 240, 240);
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    ), url(/IMG/idiomasya.jpg);
    background-repeat: 0;
    background-size: cover;
    background-position: center center;
}   
#idiomasya h1 {
    margin-bottom: 25px;
    padding-bottom:30px;
    text-shadow: 3px 3px 10px #000005;
}
#idiomasya button{
    font-size: 2em;
    letter-spacing: 4px;
}
#idiomasya button a{
    font-size: 1.2em;
    letter-spacing: 4px;
    color: rgb(240, 240, 240);
    text-decoration: none;

}


/* ----SOBRE NOSOTROS------*/
#sobre_nosotros {
    background-color: rgb(240, 240, 240);
}
#sobre_nosotros .container{
    text-align: center;
    padding: 200px 12px;
    height: 100vh;
}
#sobre_nosotros h2{
    font-size: 2.7em;

}
#sobre_nosotros span{
    text-shadow: 1.5px 1.5px 3px #000005
}
/* ----PROGRAMAS----- */

#nuestros_programas{
    background-color: #303030;
    color: rgb(240, 240, 240);
    text-align: center;
    align-items: center center;
    height: auto;
}
#nuestros_programas .container_programas{
    padding: 90px 12px;
    max-width: 1400px;
    align-items: center center;
    margin: auto;

}
#nuestros_programas .carta{
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    height: calc(300px+auto);
    border: #16163b5b 2px solid;
    letter-spacing: 4px;
}
#nuestros_programas p{
    display: flex;
    padding: 10px;
    margin: 5px;
}
#nuestros_programas button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1.8px solid #000005;
    box-shadow: 2px 2px 8px #000005;
    color: rgb(240, 240, 240);
    background-color: #ae00ff;
    letter-spacing: 4px;
    text-shadow: 3px 3px 10px #000005;
    font-family: inherit;    
}
#nuestros_programas a{
    text-decoration: none;
    color:rgb(240, 240, 240);
    font-family: inherit;
}
#nuestros_programas button:hover {
    background-color: #40005e;
    transition: .3s;
}
#nuestros_programas h2{
    margin-top: 0;
    font-size: 2.3em;
    text-align: center center;
    padding-bottom: 50px;
}

.carta1{
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
    ,url("/IMG/ingles.jpg");
}

.carta2{
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
    ,url("/IMG/Portugues.jpg");
}

.carta3 {
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
    ,url("/IMG/frances.jpg");
}

.carta4{
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
    ,url("/IMG/italiano.jpg");
}

.carta5{
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
    ,url("/IMG/aleman.jpg");
}

.carta6{
    background-image:linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
    ,url("/img/japones.jpg");
}
/* ---CARACTERISTICAS ---- */
#caracteristicas{
    background-color: rgb(240, 240, 240);
}
#caracteristicas .container{
    text-align: center;
    padding: 300px 12px;
    max-width: 1400px;
    margin: auto;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
    padding: 15px;
}
/* ------ CONTACTO -------------*/
#contacto{
    text-align: center;
    background-color: #303030;
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 105vh;
}
#contacto h2{
    font-size: 2em;
}   

#contacto p{
    margin: 15px 0px;
    font-weight: bold;
    padding: 15px;
}
#contacto .form_box{
    margin: 8px;
    font-weight: normal;
    padding: 0px;
}

#contacto .form_header{
    text-shadow: 3px 3px 10px #000005;
    max-width: 100%;
    padding: 15px 15px;
    text-align: center;
    border-bottom: 4px solid rgb(240, 240, 240);
}
#contacto .contacto{
    background-image:linear-gradient(
        0deg,
        #000000ce,
        #00000080
    ), url(/IMG/contacto.jpg);
    background-repeat: 0;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000005;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto auto;
    padding: 20px;
    overflow: hidden;
    max-width: 1200px;

}
#formulario input{
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
}
#formulario input:focus{
    outline-color: #ae00ff;
}
#formulario select {
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
}
#formulario select:focus{
    outline-color: #ae00ff;
}
#formulario button{
    font-size: 1.1em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 15px;
}
#formulario button:hover{
    cursor: pointer;
}
#formulario button:disabled{
    background: #ccc;
}
.form_box .text_error{
    color: red;
    font-size: small;
    visibility: hidden;
}
#formulario .form_error input{
    border-bottom: 2px solid red;
}
#formulario .form_error .text_error{
    visibility: visible;
}
#formulario .form_success input{
    border-bottom: 2px solid #ae00ff;
}

/* ---FOOTER---- */
footer{
    background-color: rgb(240, 240, 240);
    height: 10vh;
    align-items: center;
    justify-content: center;
}
footer #container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: auto;
}
footer p{
    margin: 0;
    color: #ae00ff;
    display: block;
    padding: 10px;
    line-height: 9vh;
    font-size: 1.3em;
}

footer .redes_container ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
.redes_container ul li a{
    display: block;
    padding: 10px;
    color: #ae00ff;
    line-height: 9vh;
}
footer .redes_container ul:hover a{
    filter: blur(2px);
}
footer .redes_container ul li a:hover{
    transform: translateY(-3px) scale(1.1);
    filter: none;
}

/* -----------MEDIA MOBILE----------- */

@media (max-width: 410px){
    #sobre_nosotros .container iframe {
    width: 290px;
    height: 290px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000005;
}
}
@media (max-width: 920px) {
    .nav_label{
        display: block;
        cursor: pointer;
        position: fixed right;
        color: #ae00ff;
        background: none;
        border: none;
        font-size: 1.8em;
    }
    .nav_menu{
        position: fixed;
        top:80px;
        color: rgb(240, 240, 240);
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #ae00ff;
        clip-path: circle(0 at center);
        transition: clip-path .5s ease-in-out;

    }
    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);
    }
    .nav_item {
        color: rgb(240, 240, 240);
        text-decoration: none;
    }
    #nuestros_programas p{
        display: flex;
        padding: 8px;
        margin: 4px;
        font-size: .8em;
    }
    #nuestros_programas h3{
        padding: 8px;
        margin: 0px;
        font-size: 1.5em;
    }
}
@media (max-width: 700px){
    #sobre_nosotros .container{
        padding: 120px 12px;

    }
    #sobre_nosotros h2{
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 30px;

    }
    #sobre_nosotros iframe{
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 0;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000005;
        margin-top: 20px;
    }
    
    #nuestros_programas .carta {
        height: calc(300px+auto);
    }
    #nuestros_programas p{
        display: flex;
        padding: 8px;
        margin: 1px;
        font-size: .8em;
    }
    #nuestros_programas h3{
        padding: 8px;
        margin: 0px;
        font-size: 1.2em;
    }
    #idiomasya button{
        margin: 35px;
        font-size: 1.9em;
    }
}
/* ---------- MEDIA TABLET-------------- */
@media (min-width: 700px){
    #sobre_nosotros .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 100px 12px;

    }
    #idiomasya h1 {
        font-size: 3.6em;
        padding: 75px;
    }
    #idiomasya button{
        font-size: 2.5em;
    }
    #sobre_nosotros .texto{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        padding: 30px;
     
    }

    #sobre_nosotros h2 {
        font-size: 2.5em;
        padding: 0;
        margin-top: 0;
        margin-bottom: 30px;
        
    }
    #sobre_nosotros iframe{
        width: 450px;
        height: 400px;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000005;
    }
    #nuestros_programas .carta {
        height: calc(300px+auto);
    }
    
    #nuestros_programas .container_programas {
        display: grid;
        grid-template-rows: 10% 30% 30% 30%;
        grid-template-columns: 50% 50%;

    }
    .elemento1 {
        grid-column: 1/3;
        justify-content: center;
        align-items: end;
        gap: 0;
    
    }

    #caracteristicas .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;

    }
    #caracteristicas .container li{
        margin: 0;
    }

    #caracteristicas .img_caracteristicas {
        background-image:linear-gradient(
            0deg,
            #00000080,
            #00000080
        )
        ,url("/IMG/caracteristicas.jpg");
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000005;
        background-position: center center;
        height: 90%;
    }
    #contacto .contacto {
        width: 60vh;
        eight: 82vh;
    }
}

    /* --------MEDIA PC--------- */

@media (min-width: 1081px){
    #sobre_nosotros .container{
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 0px;

    }
    #nav .nav_menu {
        font-size: 1.2em;
        gap: 1.3em;
    }
    #idiomasya h1 {
        font-size: 4em;
        padding: 100px;
    }
    #idiomasya button{
        font-size: 3em;
    }
    #sobre_nosotros .texto{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        padding: 20px;
    }
    #sobre_nosotros p{
        padding: 20px;
    }
    #sobre_nosotros .img_container{
        background-image:linear-gradient(
            0deg,
            #00000080,
            #00000080
        )
        ,url("/IMG/somos-Idiomasya.jpg");
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000005;
        background-position: center center;
        height: 100%;
    }

    #sobre_nosotros h2 {
        font-size: 2.5em;
        padding: 0;
        margin-bottom: 10px;
        
    }
    
    #nuestros_programas {
        
    }
    #nuestros_programas .container_programas {
        display: grid;
        grid-template-rows: 10% 45% 45%;
        grid-template-columns: 1FR 1FR 1FR;

        align-items: center;
    }

    .elemento1 {
        grid-column: 1/4;
        justify-content: center;
        align-items: end;
        gap: 0;
    }

    #caracteristicas .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

    }
    #caracteristicas .container li{
        margin: 0;
    }

    #caracteristicas .img_caracteristicas {
        background-image:linear-gradient(
            0deg,
            #00000080,
            #00000080
        )
        ,url("/IMG/caracteristicas.jpg");
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000005;
        background-position: center center;
        height: 90%;
    }
    #contacto .contacto {
        width: 75vh;
        height: 88vh;
    }
    #sobre_nosotros .texto{
        display: grid;
        grid-template-rows: 3fr;
        align-items: center;
        align-content: center;
        margin: auto;
    }
    #sobre_nosotros iframe{
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 0;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000005;
    }
    #sobre_nosotros h2 {
        margin-top: 0;
    }

}
